In [1]:

print("HELLO")

HELLO

In [2]:
#he

In [3]:
class Bank:
    b_name='nepal bank'
    b_code='1123'
    def show_info(self):
        print(f"The bank name is: {Bank.b_name}")
        print(f"The code of the bank is : {Bank.b_code}")
class Branch(Bank):
    location ='patan'
    def branch_info(self):
        print(f"The bank name is: {Bank.b_name}")
        print(f"The code of the bank is : {Bank.b_code}")
        print(f"The location is in : {Branch.location}")

In [4]:
branch = Branch()
branch.show_info()
branch.branch_info()

The bank name is: nepal bank
The code of the bank is : 1123
The bank name is: nepal bank
The code of the bank is : 1123
The location is in : patan

class Xyz:
    def method1:
    
class abc(Xyz):
    
    def method1:   
class mno(Xyz):
    def method2:
    pass
    def method 3:

In [10]:
#example for Method overlaoding

In [11]:
class Parent:
    def show_info(self):
        return "THis is class a praent class"
class child1(Parent):
    def show_info(slef):
        return "this is from child cclass"
class child2(Parent):
    pass

In [12]:
in1=child1()
in1.show_info()

'this is from child cclass'

In [17]:
class pritesh:
    def show_info(self):
        return "he is class topper"
class priteshji(pritesh):
    def show_info(self):
        return "He is pritesh upgraded version"
class ram(pritesh):
    pass

In [19]:
show=priteshji()
show.show_info()

'He is pritesh upgraded version'

In [2]:
class Toyota:
    def show_info(self):
        print( "this is toyota")
class Byd:
    def show_info(self):
        print("This is byd")
class MG:
    def show_info(self):
        print("The brand id NG")
def car_info(car):
    car.brand_info()
car1=Toyota()
car2=Byd()
car3=MG()

car_info(car3)

In [3]:
class YAMAHA:
    def show(self):
        print("This is yamaha")
class TVS:
    def show(self):
        print("This is TVS")
class BAJAJ:
    def show(self):
        print("This is BAJAJ")
def bike_info(bike):
    bike.brand_info()
bike1=YAMAHA()
bike2=TVS()
bike3=BAJAJ()

In [4]:
bike_info(bike2)

AttributeError: 'TVS' object has no attribute 'brand_info'

create a file to read a text and count the blank spaces from the text.
write a script in python to read a file and create a dictionary of the words start with vowles and consonent.
Write a script in python to convert two different list into a dictionary.
WAP script in python to remove duplicate elements from test.
Write a script to create two different list form a dictionary.

In [ ]:
!pip install pandas