In [1]:
import pandas as pd

In [5]:
data=pd.read_csv(r'taxi_trip_pricing.csv')

In [6]:
data

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
1,47.59,Afternoon,Weekday,1.0,High,Clear,NaN,0.62,0.43,40.57,NaN
2,36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,4.0,Low,NaN,3.48,0.51,0.15,116.81,36.4698
4,NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180
...,...,...,...,...,...,...,...,...,...,...,...
995,5.49,Afternoon,Weekend,4.0,Medium,Clear,2.39,0.62,0.49,58.39,34.4049
996,45.95,Night,Weekday,4.0,Medium,Clear,3.12,0.61,NaN,61.96,62.1295
997,7.70,Morning,Weekday,3.0,Low,Rain,2.08,1.78,NaN,54.18,33.1236
998,47.56,Morning,Weekday,1.0,Low,Clear,2.67,0.82,0.17,114.94,61.2090
999,22.85,Morning,Weekend,3.0,Medium,Clear,4.34,NaN,0.23,29.69,45.4437

In [7]:
data.shape

(1000, 11)

In [8]:
data.isna().shape

(1000, 11)

In [9]:
data=data.fillna(method='bfill')

C:\Users\Aayush\AppData\Local\Temp\ipykernel_6472\4149266643.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data=data.fillna(method='bfill')

In [12]:
data['Time_of_Day'].unique()

array(['Morning', 'Afternoon', 'Evening', 'Night'], dtype=object)

In [16]:
enc_day={'Morning':1,'Afternoon':2,'Evening':3,'Night':4}

In [14]:
data['Day_of_Week'].unique()

array(['Weekday', 'Weekend'], dtype=object)

In [15]:
enc_day_of_week={'Weekday':1,'Weekend':2}

In [18]:
data['Day_of_Week']=data['Day_of_Week'].map(enc_day_of_week)

In [21]:
data['Time_of_Day']=data['Time_of_Day'].map(enc_day)

In [22]:
data['Traffic_Conditions'].unique()

array(['Low', 'High', 'Medium'], dtype=object)

In [23]:
enc_traffic={'Low':1,'Medium':2,'High':3}

In [ ]:
data['